---
- name: Add browsers
  homebrew_cask:
    name: [google-chrome, firefox]
  when: ansible_os_family == 'Darwin'
  tags: common

- name: Add desktop utility tools
  homebrew_cask:
    name: [dash, alfred, flux, caffeine, spectacle, java]
  when: ansible_os_family == 'Darwin'
  tags: common

- name: Add general desktop tools
  homebrew_cask:
    name: [bitwarden, iterm2]
  when: ansible_os_family == 'Darwin'
  tags: common
